.vue-body{overflow: auto;}


/*login-form*/
.login-form {position: relative; color: #474747; padding:10px;}
.login-form h1 {font-size:22px; text-transform: uppercase; padding: 20px 0px; }
.login-form h2 {font-size:22px; margin-bottom: 10px;}
.login-form .el-form{position: relative; max-width: 500px;}

/*register-form*/
.register-form {font-size: 16px; color: #474747; padding:10px;}
.register-form h1 {font-size:22px; text-transform: uppercase; padding: 20px 0px; }
.register-form h2 {font-size:22px; margin-bottom: 10px;}
.register-form .el-form{position: relative; max-width: 700px;}
.register-form .el-form-item__label{text-align: left;}


/*terms-form*/
.terms-form {font-size: 16px; color: #474747; line-height: 24px; padding:10px;}
.terms-form h1 {font-size:22px; text-transform: uppercase; padding: 20px 0px; }




@media screen and (max-width:1200px) {
	
}


@media screen and (max-width:980px) {
	
}




@media screen and (max-width:768px) {
	
	.login-form h1 {font-size:20px; padding: 10px 0px; }
    .login-form h2 {font-size:16px;}
    
	.register-form h1 {font-size:20px; padding: 10px 0px; }
    .register-form h2 {font-size:16px;}
    .register-form .el-form-item__label{padding: 0px;}
    
    .terms-form h1 {font-size:20px; padding: 10px 0px; }
    .terms-form .text-box{font-size:14px;}
	
}



@media (max-width: 480px) {
  
  
}