.list-page-box .list-page { position:relative; padding: 10px; }
.list-page-box .list-page .el-button-group{margin-bottom: 10px;}

.megFormBox{position: relative;width: 100%; max-width: 600px;}
.formBox {
	display: none;
	position:fixed; 
    z-index:999; 
    background: #fff; 
    width: 100%;
    max-width:800px;
    height: 100%; 
    max-height:500px; 
    top:0; 
    left: 0; 
    overflow:hidden;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
.formBox > h4{
	margin: 0px;
	padding: 0px 15px;
    height: 42px;
    line-height: 42;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    background-color: #F8F8F8;
    overflow: hidden;
}
.formBox  > h4:hover{cursor: move;}
.formBox  > h4 span{line-height: 42px; float: left;}
.formBox  > h4 i{font-size: 18px; line-height: 42px; padding: 0 5px; float: right; cursor: default;}
.formBox form{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 43px;
	bottom: 0px;
	overflow: auto;
	padding: 10px;
 }
 

.el-pagination{ margin-top: 5px;}
.el-table--small td, .el-table--small th { padding: 5px 0; }

#searchApp{ margin-bottom: 20px;}
#searchApp .el-form-item{ margin-bottom: 5px;}
#searchApp .el-form-item__label{padding: 0px; margin-right: 5px; }
#searchApp .el-date-editor.el-input, .el-date-editor.el-input__inner { width: 100%; }
#searchApp .el-form-item__content { width: 200px; }


.braceDatebox{width: 1000px; font-size: 14px; color: #606266; margin-top: 30px;}
.braceDatebox table {width:100%;}
.braceDatebox table td{padding: 5px;}
.braceDatebox table td input{
	background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 5px;
}
.braceDatebox table tr td:nth-child(1){text-align: right;}
.braceDatebox .el-button{float: right;}



.formBox .el-checkbox-group{padding-left: 5px; border: 1px solid #dcdfe6; border-radius: 3px;}
.formBox .el-checkbox{margin-left: 10px;}
.formBox .el-checkbox-group .el-checkbox+.el-checkbox{margin-left: 10px;}
.formBox .el-checkbox-group .el-checkbox .el-checkbox__label{padding-left: 5px;}
.formBox .el-checkbox-group label i{font-style: normal;}

.DetailFormApp{ max-width: 600px; margin-bottom: 150px;}
.DetailFormApp form{color: #606266; font-size: 14px;}
.DetailFormApp form p{margin-bottom: 10px; font-weight: bold;}
.DetailFormApp form .itemDiv{ padding: 10px 0px; margin-bottom: 10px; border-bottom: 1px solid #dcdfe6;}
.DetailFormApp form ul li{margin-bottom: 10px;}
.DetailFormApp form ul li a{float: right;color:#5c8ab5}
.DetailFormApp form ul li a:hover{color:#5c8ab5}





