/** 初始化 **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre{margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)}
body{-webkit-font-feature-settings: 'kern' 1; -moz-font-feature-settings: 'kern' 1; -o-font-feature-settings: 'kern' 1; text-rendering: geometricPrecision;}
a:active,a:hover{outline:0}
img{display: inline-block; border: none; vertical-align: middle;}
li{list-style:none;}
table{border-collapse: collapse; border-spacing: 0;}
h1,h2,h3{font-size: 14px; font-weight: 400;}
h4, h5, h6{font-size: 100%; font-weight: 400;}
button,input,select,textarea{font-size: 100%; }
input,button,textarea,select,optgroup,option{font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}

/** 初始化滚动条 **/
/*::-webkit-scrollbar{width: 5px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
::-webkit-scrollbar-thumb{border-radius: 0; background-color: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}*/

/** 初始化全局标签 **/
html,body{width: 100%; height:100%; overflow: hidden;}
a{color: #333; text-decoration:none; }

/* 清除浮动*/
.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden;}

.login-bg {position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; background: url(../image/login-bg-8.jpg) no-repeat center center fixed; background-size: 100% 100%;}
.login-box { width: 80%; max-width: 450px; margin: 10% auto; background-color: rgba(255, 255, 255, 0.4); border-radius: 10px; color: #fff; }
.login-box h1{text-align: center; font-size: 25px; padding: 10px 0px; border-bottom: 1px solid #fff;}
.login-box .el-form{padding: 10px 40px;}
.login-box .el-form-item__label{color: #fff; font-size: 16px; padding: 0;}
.login-box .el-checkbox{color: #fff; margin-left: 10px;}

.header{position: relative; height: 55px; background-color: #23262E;}
.header .logo{position: absolute; left: 0; top: 0; width: 200px; height: 100%; display: none;}
.header .logo .img-mobel{display: none;}
.header .side-arrow-moble{display: none; color: #fff; height: 55px; line-height: 60px; padding: 0 20px; cursor: pointer; }

.header .nav-left{position: absolute; left: 200px; top: 0; }
.header .nav-right{position: absolute; right: 0; top: 0; }
.el-menu--horizontal{border:none;}
.el-menu--horizontal a{color: rgba(255,255,255,.7);}
.el-menu--horizontal>.el-submenu .el-submenu__title{height: 55px; line-height: 55px;}
.el-menu--horizontal .el-menu .el-menu-item{padding: 0 15px;}
.el-submenu [class^=el-icon-]{width: 18px;}

.left-aside {position: fixed;left: 0px; top: 55px; bottom: 0; z-index: 999; width: 200px; background: #393D49; overflow-x: hidden; }
.left-aside .left-aside-scroll{width: 220px; height: 100%; overflow-x: hidden;}
.left-aside .el-menu-vertical-demo{width: 200px; }
.left-aside .el-menu a{color: rgba(255,255,255,.7);}
.left-aside .el-menu .el-menu-item.is-active a{color: rgb(64, 158, 255);}
.left-aside .side-arrow {position: fixed; display: block; top: 45%; left: 200px; color: #fff; background-color: #ccc; height: 50px; width: 12px; z-index: 1000; line-height: 50px; text-align: center; cursor: pointer; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.left-aside .side-arrow:hover {background-color: #19a97b; }
.view-body{position: absolute; top: 55px; left: 200px; right: 0; bottom: 30px; width: auto; height: auto; overflow: hidden; }
.list-page-point {position: relative; height: 34px; line-height: 34px; padding: 0px 10px; font-size: 12px; background: #f2f2f2; border-bottom: 1px solid #3a9ef2; overflow: hidden; }
.list-page-box {position: absolute; left: 0; right: 0; top: 35px; bottom: 0; width: auto; overflow: hidden; overflow-y: auto; box-sizing: border-box; }
.list-page {position:relative; padding: 10px; }


.footer {position: fixed; left: 200px; right: 0; bottom: 0; height: 30px; line-height: 30px; font-size: 14px; text-align: center; padding: 0 15px; background-color: #eee; overflow: hidden; }



.left-aside, .side-arrow, .view-body, .footer{
	transition:0.5s;  /* 过渡*/
	-moz-transition:0.5s; /* Firefox 4 */
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-o-transition:0.5s; /* Opera */
}
.left-aside.left-aside-close {left: -200px; }
.side-arrow.left-aside-close {left: 0px; }
.view-body.left-aside-close {left: 0px; }
.footer.left-aside-close {left: 0px; }


.el-dialog__header{background: #f2f2f2;}
.el-dialog__body{padding: 20px 20px;}

.loadingBox{position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%;  background-color: rgba(0,0,0,0.8);}
.loadingBox > div{position: relative; left: 50%; top: 50%; margin-left: -100px; margin-top: -100px; width: 200px; height: 100px; padding: 80px 0 20px; text-align: center; color: #fff;}


@media (max-width: 1200px) {
  
  
}


@media (max-width: 980px) {
  
}



@media (max-width: 768px) {
  .header .logo  .img-pc{display: none;}
  .header .logo  .img-mobel{display: inline-block;}
  .header .side-arrow-moble{display: inline-block;}
  .left-aside .side-arrow{display: none;}

}


@media (max-width: 480px) {
  
  
}