<!--资产设备查询html模板-->

<div class="seaObject">
	<div style="width:1000px;">
		<div class="sea_div" ng-show="isPCShow">
			<label>公司：</label><div class="sea_div">
   				<input ng-model="search_company" id="search_company" ng-click="zTree8Show()"/>
       			<div class="ztreeBox">
					<div id="treeDemo8" class="ztree treeDemoDa">
						
					</div>
				</div>
   			</div>
		</div>
   		<div class="sea_div">
   			<label>部门：</label><div class="sea_div">
   				<input ng-model="search_dept_name" id="search_dept_name" ng-click="zTree9Show()"/>
       			<div class="ztreeBox">
					<div id="treeDemo9" class="ztree treeDemoDa">
						
					</div>
				</div>
   			</div>
   		</div>	
        <div class="sea_div" ng-show="isPCShow">
        	<label>设备分类：</label><select id="search_class_id"  ng-model="search_class_id">
            	<option value=""></option>
                <option ng-repeat="i in object_class" value="{{i.class_id}}">{{i.class_code}} {{i.class_name}}</option>
            </select>
        </div>
        <div class="sea_div" ng-show="isPCShow">
        	<label>规格型号：</label><input id="search_object_model" type="text" ng-model="search_object_model"/>
        </div>
        <div class="sea_div">
        	<label>设备编码：</label><input id="search_object_code" type="text" ng-model="search_object_code"/>  
        </div>
        <div class="sea_div">
        	<label>设备名称：</label><input id="search_object_name" type="text" ng-model="search_object_name"/>
        </div><div class="sea_div">
        	&nbsp;&nbsp;<button ng-click="btn_getComSearch()">查询设备</button>&nbsp;&nbsp;<button ng-click="getComSearch_cancel()">取消</button>
        </div>
    </div>
	<div style="height:10px"></div>
	<div id="com_title" class="user_title" style="width:940px;">资产设备信息</div>
    <table id="com_table" border="0" cellspacing="0" cellpadding="0" width="940">
		<thead>
			<tr>
				<td width="33"><span ng-show="showComCheckbox"><input type="checkbox" name="checkboxAll" id="checkboxAll" ng-click="getComCheckedAll('object_id')"/><label for="checkboxAll"></label></span>
				<span ng-show="showComRadio"><input id="noCheckAll"  type="radio" name="radio" ng-click="noCheckAll()"/><label for="noCheckAll"></label></span>
				</td>
				<td width="100">设备id</td>
				<td width="150">部门</td>
				<td width="180" ng-show="isPCShow">设备分类</td>
				<td width="150">设备编码</td>
				<td width="200">设备名称</td>
				<td width="120" ng-show="isPCShow">规格型号</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in ComSearchList">
				<td width="33"><span ng-show="showComCheckbox"><input id="{{'checkbox'+$index}}"  type="checkbox" name="checkbox" ng-click="getComCheckedOne(i.object_id,'object_id')"/><label for="{{'checkbox'+$index}}"></label></span>
				<span ng-show="showComRadio"><input id="{{'radio'+$index}}"  type="radio" name="radio" ng-click="getComCheckedOne(i.object_id,'object_id')"/><label for="{{'radio'+$index}}"></label></span>
				</td>
				<td>{{i.object_id}}</td>
				<td>{{i.dept_name}}</td>
				<td ng-show="isPCShow">{{i.class_name}}</td>
				<td>{{i.object_code}}</td>
				<td>{{i.object_name}}</td>
				<td ng-show="isPCShow">{{i.object_model}}</td>
			</tr>
		</tbody> 
	</table>
		



     <!-- pagination -->  
    <div class="pagination" style="width:{{tableWidth}}">
        <select ng-change="ComSearch_load_pernum(ComSearch_p_pernum)" ng-model="ComSearch_p_pernum" ng-options="x for x in options">
        </select>
        <a ng-class="{true:'disabled'}[ComSearch_p_current==1]" class="pagination-first" href="javascript:;" ng-click="ComSearch_p_index()"></a>
        <a ng-class="{true:'disabled'}[ComSearch_p_current==1]" class="pagination-pre" href="javascript:;" ng-click="ComSearch_p_pre()"></a>
        <span>第</span><input  type="text" ng-model="ComSearch_p_current"  ng-change="ComSearch_load_page(ComSearch_p_current)"><span>页 共 {{ComSearch_p_all_page}} 页</span>
        <a ng-class="{true:'disabled'}[ComSearch_p_current==ComSearch_p_all_page]" class="pagination-next" href="javascript:;" ng-click="ComSearch_p_next()"></a>
        <a ng-class="{true:'disabled'}[ComSearch_p_current==ComSearch_p_all_page]" class="pagination-last" href="javascript:;" ng-click="ComSearch_p_last()"></a>
        <a class="pagination-search" href="javascript:;" ng-click="ComSearch_load_page(ComSearch_p_current)"></a>
       <span>共 {{ComSearch_count}} 条记录</span>
    </div>
 


	<br ng-init="searchObjectFineshed=true" />
	
		
	<script>
		if($("html,body").width()<768){
			$('#com_table').attr('width','700');
			$('#com_title').css('width','700px');
			$('.seaObject .sea_div label').css({'width':'75px'});
			$('.seaObject .sea_div input').css({'width':'110px'});
		}
	</script>




</div>

