<div class="point">
	<p><img alt="" src="../images/point.png">设备点检 &gt;点检记录</p>
</div>
<!--check--record-->


<script  src="../../../js/common/listCtrCom.js"></script>
<script type="text/javascript" src="../../../js/common/objectCtrCom.js" ></script>
<div class="listPage">
	
	<div class="edit"> 
       <div id="editBox1" class="editBox" ng-show="isChangeShow">
       		<form name="form" novalidate>
	       		<h4>修改点检记录：</h4>
	       		<p>
	       			<span>完成状态：</span>
	       			<select ng-model="change_finish_status">
	       				<option value="0">未完成</option>
	       				<option value="1">已完成</option>
	       			</select>
	       		</p>
	       		<p>
	       			<label>记录时间：</label>
	       			<input class="Wdate" type="text" id="getDate"  onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
	       		</p>
	       		<p>
	       			<label>报告总结：</label>
	       			<textarea maxlength="1000" type="text" ng-model="change_finished_remark"> </textarea>
	       		</p>
	       		<p  class="isSure"><button ng-disabled="changeDisabled" ng-click="changeSure()">确认修改</button>&nbsp;<button ng-click="isChangeShow=false">取消修改</button></p>
       		</form>
       </div>
       <div id="editBox2" class="editBox" ng-show="isAddShow">
       		<form name="form" novalidate>
	       		<h4>新增点检计划：</h4>
	       		<p>
	       			<label>资产设备:{{objectDetail}}</label>
	       		</p>
	       		
	       		<p>
	       			<span>周期：</span>
	       			<select ng-model="period" disabled="disabled">
		       			<option value="1日检">日检</option>
		       			<option value="2周检">周检</option>
		       			<option value="3月检">月检</option>
		       			<option value="4季检">季检</option>
		       			<option value="5半年检">半年检</option>
		       			<option value="6年检">年检</option>
		       		</select>
	       		</p>
	       		<p>
	       			<span>点检清单：</span>
	       			<select ng-model="check_group_id">
		       			<option ng-repeat="i in check_group_list" value="{{i.check_group_id}}">{{i.subject}}</option>
		       		</select>
	       		</p>
	       		<p>
	       			<span>点检负责人：</span>
	       			<div>
	       				<input placeholder="如不选择负责人则默认为创建该点检计划的人" ng-model="check_user" id="check_user" ng-click="zTree2Show()"/>
		       			<div class="ztreeBox">
							<div id="treeDemo2" class="ztree">
								
							</div>
						</div>
	       			</div>
		       			
	       		</p>
	       		<p>
	               <label>计划开始时间：</label>
	               <input class="Wdate" type="text" id="plan_date_start" ng-model="plan_date_start" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
	            </p>
	            <p>
	               <label>计划结束时间：</label>
	               <input class="Wdate" type="text" id="plan_date_end" ng-model="plan_date_end" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})">
	            </p>
	       		
	       		<p class="isSure"><button ng-disabled="addDisabled" ng-click="addSure()">确认新增</button>&nbsp;<button ng-click="isAddShow=false">取消新增</button></p>
      		</form>
       </div>
   </div>
    <div class="overbox">
    	<div class="search"  style="width:{{tableWidth}};"> 
	        <object ng-show="isComObjectShow"></object>  <!--搜索资产设备-->
	        <div class="edit"> 
		   		<p class="editBtn">   
			        <a href="javascript:;" ng-repeat="i in pageBtns" ng-click="btnClick(i)">{{btn_c[$index]}}</a>
		       </p>
		    </div>
		    <div class="sea_div" ng-show="isPCShow">
            	<label>编号：</label><input type="text" ng-model="search_check_id" /> 
            </div>
	        <div class="sea_div">
            	<label>周期：</label><select ng-model="search_period_id">
		        	<option value=""></option>
	       			<option value="1">日检</option>
	       			<option value="2">周检</option>
	       			<option value="3">月检</option>
	       			<option value="4">季检</option>
	       			<option value="5">半年检</option>
	       			<option value="6">年检</option>
	       		</select>
            </div>
            <div class="sea_div">
	        	<span>检查人：</span>
	        	<div class="sea_div">
	        		<input ng-model="search_check_user_name" id="search_check_user_name" ng-click="zTree1Show()"/>
		   			<div class="ztreeBox">
						<div id="treeDemo1" class="ztree">
							
						</div>
					</div>
	        	</div>
	        </div>
            <div class="sea_div">
            	<label>完成状态：</label><select ng-model="search_finish_status">
		        	<option value=""></option>
	       			<option value="0">未完成</option>
	       			<option value="1">已完成</option>
	       		</select>
            </div>
            <div class="sea_div" ng-show="isPCShow">
            	<label>开始时间：</label><input class="Wdate" type="text" id="create_time_start" ng-model="create_time_start" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
            </div>
            <div class="sea_div" ng-show="isPCShow">
            	<label>截止时间：</label><input class="Wdate" type="text" id="create_time_end" ng-model="create_time_end" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
            </div>
            <div class="sea_div">
	       		<button ng-click="btn_search()">查询</button>
            </div>
	    </div>
	    <div class="user_title" style="width:{{tableWidth}};">{{subject}}</div>
	    <table id="mainTable" border="0" cellspacing="0" cellpadding="0" width="{{tableWidth}}">
			<thead>
				<tr>
					<td width="33"><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"><label for="flag"></label></td>
					<td ng-repeat="i in fields_c" width="{{trWidthArr[$index]}}">{{i}}<span ng-click="sortFn($index)" ng-class="tdBj"></span></td>
					<td width="80">完成状态</td>
					<td width="100">点检结果录入</td>
				</tr>
			</thead>
			<tbody>
				
				<tr ng-repeat="i in list">
					<td><input id="{{i['RowNumber']}}" type="checkbox" ng-model="i.checked" ng-change="selectOne()"> <label for="{{i['RowNumber']}}"></label></td>
					<td ng-repeat="k in fields_e" ng-bind-html="i[k] | trustHtml"></td>
					<td>{{finishStatus[$index]}}</td>
					<td><a href="#/page/check/check/list/{{i.check_id}}"><b ng-show="showCheck[$index]">点检结果录入</b><b ng-show="showResult[$index]">查看</b></a></td>
				</tr>
				
			</tbody> 
		</table>
		<!-- pagination -->  
	    <div class="pagination" style="width:{{tableWidth}};">
	        <select ng-change="load_pernum(p_pernum)" ng-model="p_pernum" ng-options="x for x in options">
	        </select>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-first" href="javascript:;" ng-click="p_index()"></a>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-pre" href="javascript:;" ng-click="p_pre()"></a>
	        <span>第</span><input  type="text" ng-model="p_current"  ng-change="load_page(p_current)"><span>页 共 {{p_all_page}} 页</span>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-next" href="javascript:;" ng-click="p_next()"></a>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-last" href="javascript:;" ng-click="p_last()"></a>
	        <a class="pagination-search" href="javascript:;" ng-click="load_page(p_current)"></a>
	       <span>共 {{count}} 条记录</span>
	    </div>
    </div>
	<script type=text/javascript>
	    $(function(){
	        //取消冒泡
	        $(".editBox form").on("mousedown",function(e){
	            stopBubble(e)
	        });
	
	        //拖拽
         	var drag1 = new drag("editBox1","window");
         	drag1.dragFn();
         	var drag2 = new drag("editBox2","window");
         	drag2.dragFn();
         	
         	setTimeout(function(){
	            $("table").tableresize();
	        },1000);
	    });
	</script>    

</div>












