<div class="list-page-point">
   <div class="container">
     <p><i class="layui-icon" style="font-size: 14px;">&#xe715;</i><span></span></p>
   </div>
</div>


<div class="list-page-box">
  <div class="container2">
    <div class="list-page">
    
		<div id="btnApp">
			<el-button-group>
			  <el-button id="btn_add" size="small"><i class="layui-icon">&#xe654;</i>Add</el-button>
			  <!--<el-button id="btn_delete" size="small"><i class="layui-icon">&#xe640;</i>Delete</el-button>-->
			  <!--<el-button id="btn_search" size="medium"><i class="layui-icon">&#xe615;</i>Search</el-button>-->
			</el-button-group>
		</div>
	    
	    <div id="tableApp"></div>
	    <div id="formApp" class="formBox"> </div>
	    

    </div>
  </div>
</div>
<script type="text/javascript">
	require(['jquery','Vue','dataDB','ELEMENT','drag','formVerify'], function ($,Vue,dataDB,ELEMENT,drag,formVerify) {
	    //请求数据的url
	    var url = $("#Vue_routerView").attr("data-href").replace(/\/page\//,"/nodejs/").replace(/\.html/,"");
		//console.log(url);
		//当前定位
		$(".list-page-point span").html("Setting"+">>"+"Billing information");
	
	    var dataDBInt = dataDB.int;
	    Vue.use(ELEMENT); 
        
        var dragInt = drag.int;
        
               
        //按钮组
	    var btnApp = new Vue({
	    	el: '#btnApp'
	    });
       
       
        //加载data
		var dataInt = function (data) {
	        //console.log(data);
	        
	        if(typeof data != "object"){
	          alert(data);
	          return;
	        }
	        
	        var isDefaultId;
	        data.rows.forEach(function (item,index) {
	        	if(item.isDefault == "true"){
                   isDefaultId = item.id;	        	
	        	}
	        });
	        
	        data.colArr = [
	           {"title":"ID","field":"id","width":"60","data_type":"int"},
	           {"title":"CompanyName","field":"CompanyName","width":"120","data_type":"text"},
	           {"title":"Name","field":"Name","width":"120","data_type":"text"},
	           {"title":"Email","field":"Email","width":"120","data_type":"text"},
	           {"title":"Phone","field":"Phone","width":"120","data_type":"text"},
	           {"title":"Address","field":"Address","width":"150","data_type":"text"},
	           {"title":"Address2","field":"Address2","width":"150","data_type":"text"},
	           {"title":"Country","field":"Country","width":"120","data_type":"text"},
	           {"title":"Province","field":"Province","width":"120","data_type":"text"},
	           {"title":"City","field":"City","width":"120","data_type":"text"},
	           {"title":"PostCode","field":"PostCode","width":"120","data_type":"text"},
	           {"title":"CustomerNumber","field":"CustomerNumber","width":"150","data_type":"text"},
	           {"title":"Default","field":"isDefault","width":"80","data_type":"text"}
	           
	        ];
	        
	        var tableWidth = 40 + 130 + 5;
	        data.colArr.forEach(function (item,index) {
	        	tableWidth += Number(item.width);
	        });
	        tableWidth += "px";
	        
	        var tableHtml ='<el-table :data="tableData" ref="multipleTable" tooltip-effect="dark" size="small" style="width:'+tableWidth+'" max-height="400" @selection-change="selectionChange">';
	        //tableHtml +='<el-table-column fixed="left" type="selection" width="40"> </el-table-column>';
	        data.colArr.forEach(function (item,index) {
	        	if(item.field == "isDefault"){
	        	  tableHtml+='<el-table-column prop="" label="'+item.title+'" width="'+item.width+'"> <template slot-scope="scope"> <el-radio v-model="radio" :label="scope.row.id" @change="setDefault(scope.row)">&nbsp;</el-radio></template> </el-table-column>';
	        	}else{
	        	  tableHtml+='<el-table-column show-overflow-tooltip prop="'+item.field+'" label="'+item.title+'" width="'+item.width+'"> </el-table-column>';
	        	}
	        });
	        tableHtml+='<el-table-column fixed="right" label="Operation" width="130"> <template slot-scope="scope"> <el-button @click="edit(scope.row)" type="text" size="small">Edit</el-button> <el-button @click="del(scope.row)" type="text" size="small">Delete</el-button> </template> </el-table-column>';
	        tableHtml+=' </el-table>';
	        $("#tableApp").html(tableHtml);
	       
	        
	        var tableApp = new Vue({
		        el: '#tableApp',
		        data: {
		        	tableData: data.rows,
				    radio: isDefaultId,
				    multipleSelection: []
		        },
		        methods: {
				      toggleSelection(rows) {
				        if(rows) {
				          rows.forEach(function (row) {
							this.$refs.multipleTable.toggleRowSelection(row);
						  });
				        }else {
				          this.$refs.multipleTable.clearSelection();
				        }
			      },
			      selectionChange(dataArr) {
				        this.multipleSelection = dataArr;
				        //选中的dataArr
				        //console.log(dataArr);
			      },
			      add(){
			      	    //增加
			      	    var _this = this;
				      	var row = {}; 
				      	var formHtml = '<h4 id="dragbur"><span>Add</span><i class="el-icon-close closeBtn"></i><i class="el-icon-plus plusBtn"></i><i class="el-icon-minus minusBtn"></i></h4>'
				      	formHtml += '<el-form :model="formData" :rules="rules" ref="formData" label-width="150px" size="small" name="add" class="demo-ruleForm">';
			            for(var i = 0; i < data.colArr.length; i++){
			               var data_type = data.colArr[i].data_type;
			               var field = data.colArr[i].field;
			               var title = data.colArr[i].title;
			               row[field]="";
			               if(field == "isDefault"){
			               	  //
			               }else if(field == "CustomerNumber"){
			               	  //
			               }else{
			               	  formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
			               }
			
			            }
			            formHtml+='<el-form-item> <el-button size="small" type="primary" @click="submitForm()">SUBMIT</el-button> <el-button size="small" class="closeBtn">CANCEL</el-button> </el-form-item>';
			            formHtml+='</el-form>';
				      	$("#formApp").html(formHtml);
				      	
				      	setTimeout(function () {
				      		dragInt.resizeFn("formApp",formApp);
				      		dragInt.dragFn("formApp","window");
				      	},0);
				      	
				      	
                        var rules = formVerify.rules(row,data.colArr);
				      	var formApp = new Vue({
						        el: '#formApp',
						        data: {
						         	formData: row,
								    radio: 1,
								    rules: rules
						        },
							    methods: {
							      submitForm() {
							        this.$refs["formData"].validate (function (valid) {
										if(valid) {
											//console.log(formApp.formData);
											var dataJson = {};
											data.colArr.forEach(function(item,index){
												var field = item.field;
						                         var data_type = item.data_type;
						                      	 if(data_type == "int" || data_type == "int(6)" || data_type == "decimal(2)" || data_type == "decimal(4)"){
						                      	 	dataJson[field] = Number(formApp.formData[field]);
						                      	 }else{
						                      	 	dataJson[field] = formApp.formData[field];
						                      	 }
						                    });
						                    dataJson.UserName = loginObj.UserName;
						                    dataJson.CustomerNumber = loginObj.CustomerNumber;
						                    delete dataJson.isDefault;
						                    //console.log(dataJson);
						                      
						                    var dataArr=[];
                                            dataArr.push(dataJson);
                                            var reqData2 = 'action=insertData&dataArr=' + JSON.stringify(dataArr);
						                    dataDBInt.insertData(url,reqData2,function (data2) {
						                        _this.$message({duration: 1000, message: data2 });
		                                        if(data2 != "Success"){return;}
		                
		                                        dataDBInt.findData(url,reqData,dataInt);
		                                        $("#formApp").hide(); 
						                    });
										}else {
											//console.log('error submit');
											return false;
										}
									});
							      },
							      resetForm() {
							        this.$refs["formData"].resetFields();
							      }
							    }
					         
				        });
			      	
			      },
			      edit(row){
			      	    //修改
			      	    var _this = this;
				      	//console.log(row); 
				      	var formHtml = '<h4 id="dragbur"><span>Edit</span><i class="el-icon-close closeBtn"></i><i class="el-icon-plus plusBtn"></i><i class="el-icon-minus minusBtn"></i></h4>'
				      	formHtml += '<el-form :model="formData" :rules="rules" ref="formData" label-width="150px" size="small" name="edit" class="demo-ruleForm">';
			            for(var i = 0; i < data.colArr.length; i++){
			               var data_type = data.colArr[i].data_type;
			               var field = data.colArr[i].field;
			               var title = data.colArr[i].title;
                           if(field == "id"){
			               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" :disabled="true" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
			               }else if(field == "CustomerNumber"){
			               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" :disabled="true" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
			               }else if(field == "isDefault"){
			               	  //
			               }else{
			               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
			               }			
			            }
			            formHtml+='<el-form-item> <el-button type="primary" size="small" @click="submitForm()">SUBMIT</el-button> <el-button size="small" class="closeBtn">CANCEL</el-button> </el-form-item>';
			            formHtml+='</el-form>';
				      	$("#formApp").html(formHtml);
				      	
				      	setTimeout(function () {
				      		dragInt.resizeFn("formApp",formApp);
				      		dragInt.dragFn("formApp","window");
				      	},0);
				      	
                        var rules = formVerify.rules(row,data.colArr);
				      	var formApp = new Vue({
						        el: '#formApp',
						        data: {
						         	formData: row,
								    rules: rules
						        },
							    methods: {
							      submitForm() {
							        this.$refs["formData"].validate (function (valid) {
										if(valid) {
											//console.log(formApp.formData);
											var dataJson = {};
											data.colArr.forEach(function(item,index){
						                         var field =item.field;
						                         var data_type =item.data_type;
						                      	 if(data_type == "int" || data_type == "int(6)" || data_type == "decimal(2)" || data_type == "decimal(4)"){
						                      	 	dataJson[field] = Number(formApp.formData[field]);
						                      	 }else{
						                      	 	dataJson[field] = formApp.formData[field];
						                      	 }
						                    });
						                    dataJson.UserName = loginObj.UserName;
						                    delete dataJson.isDefault;
						                    
						                      
						                    var searchJson={"UserName":dataJson.UserName, "id":formApp.formData.id};
						                    delete dataJson.id;
						                    var reqData2 = 'action=updateData&searchJson=' + JSON.stringify(searchJson) + '&updateJson=' + JSON.stringify(dataJson);
						                    dataDBInt.updateData(url,reqData2,function (data2) {
						                        _this.$message({duration: 1000, message: data2 });
		                                        if(data2 != "Success"){return;}
		                
		                                        dataDBInt.findData(url,reqData,dataInt);
		                                        $("#formApp").hide(); 
						                    });
										}else {
											//console.log('error submit');
											return false;
										}
									});
							      },
							      resetForm() {
							        this.$refs["formData"].resetFields();
							      }
							    }
					         
				        });
			      	
			      },
			      setDefault(row){
			      	    //修改默认
			      	    //console.log(row);
			      	    var _this = this;
				      	var searchJson={"UserName":loginObj.UserName, "id":row.id};
				      	var dataJson = {"isDefault" : "true"};
	                    var reqData2 = 'action=updateData&searchJson=' + JSON.stringify(searchJson) + '&updateJson=' + JSON.stringify(dataJson);
	                    dataDBInt.updateData(url,reqData2,function (data2) {
	                        _this.$message({duration: 1000, message: data2 });
    
                            dataDBInt.findData(url,reqData,dataInt);
                            $("#formApp").hide(); 
	                    });
			      	
			      },
			      del(row){
			      	//删除
			      	//console.log(row);
			      	var _this = this;
			      	this.$confirm('delete?', 'Delete', {
			          confirmButtonText: 'CONFIRM',
			          cancelButtonText: 'CANCEL',
			          type: 'warning'
			        }).then(function () {
			          var dataJson = {"UserName":loginObj.UserName,"id":{"$in":[row.id]}}; 
		              var reqData2 = 'action=delData&dataJson=' +JSON.stringify(dataJson);
		              dataDBInt.delData(url,reqData2,function (data2) {
		                _this.$message({duration: 1000, message: data2 });
		                if(data2 != "Success"){return;}
		                
		                dataDBInt.findData(url,reqData,dataInt);
		              });
			        }).catch(function () {
			        	//
			        });
			      }
			    }
		    });
	        
	        //设置勾选状态
	        //tableApp.toggleSelection([tableApp.tableData[1], tableApp.tableData[2]]);
	        
	        
	        //新增
            $("#btn_add").on("click",function(){
           	   tableApp.add();
            });
            
	        
	        
       }


        //初始化数据
		var reqData = 'action=findData&searchJson={"UserName" :"'+loginObj.UserName+'"}&prePageNum=1000&currPage=1';
		dataDBInt.findData(url,reqData,dataInt);
		//初始化数据 结束


        //获取用户信息
        var url_user = '/nodejs/userList';
		var reqData_user = 'action=findData&searchJson={"UserName" :"'+loginObj.UserName+'"}&prePageNum=10&currPage=1';
		dataDBInt.findData(url_user,reqData_user,function (data_user) {
			loginObj.CustomerNumber = data_user.rows[0].CustomerNumber;
		});
		//获取用户信息
       


		
	});
</script>
