<div class="list-page-point">
   <div class="container">
     <p><i class="layui-icon" style="font-size: 14px;">&#xe715;</i><span></span></p>
   </div>
</div>


<div class="list-page-box">
  <div class="container2">
    <div class="list-page">
    
		
	    <div id="formApp" class="formBox"> </div>
	    <div id="megFormApp" class="megFormBox"> </div>
	    

    </div>
  </div>
</div>
<script type="text/javascript">
	require(['jquery','Vue','dataDB','ELEMENT','formVerify'], function ($,Vue,dataDB,ELEMENT,formVerify) {
	    //请求数据的url
	    var url = "/nodejs/userList";
		//console.log(url);
		//当前定位
		$(".list-page-point span").html("Admin"+">>"+"User information");
	
	    var dataDBInt = dataDB.int;
	    Vue.use(ELEMENT); 
        
       
        //加载data
		var dataInt = function (data) {
	        //console.log(data);
	        
	        
	        if(typeof data != "object"){
	          alert(data);
	          return;
	        }
	        

	        data.colArr = [
	           {"title":"UserName","field":"UserName","width":"120","data_type":"text"},
	           {"title":"FirstName","field":"FirstName","width":"120","data_type":"text"},
	           {"title":"LastName","field":"LastName","width":"120","data_type":"text"},
	           {"title":"CompanyName","field":"CompanyName","width":"150","data_type":"text"},
	           {"title":"Email","field":"Email","width":"150","data_type":"text"},
	           {"title":"Phone","field":"Phone","width":"150","data_type":"text"},
	           {"title":"Address","field":"Address","width":"150","data_type":"text"},
	           {"title":"Country","field":"Country","width":"150","data_type":"text"},
	           {"title":"Province","field":"Province","width":"150","data_type":"text"},
	           {"title":"City","field":"City","width":"150","data_type":"text"},
	           {"title":"PostCode","field":"PostCode","width":"150","data_type":"text"},
	           {"title":"CustomerNumber","field":"CustomerNumber","width":"170","data_type":"text"},
//	           {"title":"MetricImperial","field":"MetricImperial","width":"150","data_type":"text"},
//	           {"title":"RoleId","field":"roleClass_id","width":"100","data_type":"int"},
//	           {"title":"RoleName","field":"roleClass_name","width":"190","data_type":"text"}
	        ];
	        
	       
	        
	        //修改
	        var row = data.rows[0];
	      	//console.log(data.rows[0]); 
	      	var formHtml = ''
	      	formHtml += '<el-form :model="formData" :rules="rules" ref="formData" label-width="150px" size="small" name="edit" class="demo-ruleForm">';
            for(var i = 0; i < data.colArr.length; i++){
               var data_type = data.colArr[i].data_type;
               var field = data.colArr[i].field;
               var title = data.colArr[i].title;
               if(field == "UserName"){
               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" :disabled="true" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
               }else if(field == "CustomerNumber"){
               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" :disabled="true" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
               }else{
               	 formHtml+='<el-form-item label="'+title+'" prop="'+field+'"> <el-input v-model="formData.'+field+'" auto-complete="off" data-type="'+data_type+'" name="'+field+'"></el-input> </el-form-item>';
               }			
            }
            formHtml+='<el-form-item> <el-button type="primary" size="small" @click="submitForm()">SAVE</el-button> </el-form-item>';
            formHtml+='</el-form>';
	      	$("#megFormApp").html(formHtml);
	      	
	      	
            var rules = formVerify.rules(row,data.colArr);
	      	var megFormApp = new Vue({
		            el: '#megFormApp',
			        data: {
			         	formData: row,
					    rules: rules
			        },
				    methods: {
				      submitForm() {
				      	var _this = this;
				        this.$refs["formData"].validate (function (valid) {
							if(valid) {
								//console.log(megFormApp.formData);
								var dataJson = {};
								data.colArr.forEach(function(item,index){
			                         var field =item.field;
			                         var data_type =item.data_type;
			                      	 if(data_type == "int" || data_type == "int(6)" || data_type == "decimal(2)" || data_type == "decimal(4)"){
			                      	 	dataJson[field] = Number(megFormApp.formData[field]);
			                      	 }else{
			                      	 	dataJson[field] = megFormApp.formData[field];
			                      	 }
			                    });
			                    //console.log(dataJson);
			                   
			                      
			                    var searchJson={"UserName":megFormApp.formData.UserName};
			                    delete dataJson.UserName;
			                    var reqData2 = 'action=updateData&searchJson=' + JSON.stringify(searchJson) + '&updateJson=' + JSON.stringify(dataJson);
			                    dataDBInt.updateData(url,reqData2,function (data2) {
			                        _this.$message({duration: 1000, message: data2 });
                                    if(data2 != "Success"){return;}
            
                                    dataDBInt.findData(url,reqData,dataInt);
			                    });
							}else {
								//console.log('error submit');
								return false;
							}
						});
				      },
				      resetForm() {
				        this.$refs["formData"].resetFields();
				      }
				    }
		         
	        });
	        
	        
	        
	        
       }


        


        //初始化数据
		var reqData = 'action=findData&searchJson={"UserName" :"'+loginObj.UserName+'"}&prePageNum=10&currPage=1';
		dataDBInt.findData(url,reqData,dataInt);
		//初始化数据 结束




		
	});
</script>
