<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>eCast</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel='stylesheet' href='/js/element-ui/lib/theme-chalk/index.css'/>
  <link rel='stylesheet' href='/css/iconfont.css'/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">

</head>
  
  <body>
     <div class="header-logo clearfix">
		       <div class="container clearfix">
		        <div class="logo-left"><img src="image/ecast.png"></div>
			      <div class="logo-right">
			        <img src="image/vqlogo.png">
			        <span>Version 18-03-08</span> 
			      </div>
		    </div>
		  </div>
	
	  <div class="header">
  	  	<div class="container clearfix">
	  		  
	  		  <div class="nav-box">
  		  	   <ul id="topNav" class="nav clearfix">
	  		  	   	<li>
	  		  	   		<a href="login.html">Login</a>
	              </li>
	  		  	   	<li class="actived">
	  		  	   		<a href="register.html">Register</span></a>
	              </li>
	  		  	   	<li>
	  		  	   		<a href="terms.html">Terms of Service</a>
	              </li>
	  		  	   	<li>
	  		  	   		<a href="contact.html">Contact Us</a>
	              </li>
              </ul>
				      
  		    </div>
  		  
	  		  <div class="moblebar">
	  		  	  <span id="nav-menu-moble" class="nav-close"><i class="icon-font" style="font-size: 22px;"></i></span>
	  		  </div>
  		  </div>
  	</div>
  	
  	
  	<!-- pageList -->
	  <div class="vue-body">
			   <div class="container clearfix">
						
							<div class="register-form" id="formApp">
								<h1>Register</h1>
				        <h2>Create a new account</h2>
								<el-form ref="formData" :model="formData" :rules="rules" label-width="180px">
									
									<el-form-item label="UserName" prop="UserName">
										<el-input type="text" v-model="formData.UserName" placeholder="Please input UserName">
									</el-form-item>
									<el-form-item label="Customer Number" prop="CustomerNumber">
										<el-input type="text" v-model="formData.CustomerNumber" placeholder="Your Valid Customer Number">
									</el-form-item>
									<el-form-item label="First Name" prop="FirstName">
										<el-input type="text" v-model="formData.FirstName" placeholder="Your First Name">
									</el-form-item>
									<el-form-item label="Last Name" prop="LastName">
										<el-input type="text" v-model="formData.LastName" placeholder="Your Last Name">
									</el-form-item>
									<el-form-item label="Email" prop="Email">
										<el-input type="text" v-model="formData.Email" placeholder="Contact Email Address">
									</el-form-item>
									<el-form-item label="Password" prop="Password">
										<el-input type="password" v-model="formData.Password" placeholder="Your Password">
									</el-form-item>
									<el-form-item label="Confirm Password" prop="Password2">
										<el-input type="password" v-model="formData.Password2" placeholder="Confirm Password">
									</el-form-item>
									<el-form-item label="Measurement System" prop="MetricImperial">
									    <el-select v-model="formData.MetricImperial"><el-option value="Metric">Metric</el-option><el-option value="Imperial">Imperial</el-option></el-select>
									</el-form-item>
								  <el-form-item>
							    <el-button size="medium" type="primary" @click="submitForm">REGISRER</el-button>
							    </el-form-item>
								  
								</el-form>    
					    </div>
						
					</div>
	  </div>
	  



<script type="text/javascript" src="/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/js/vue/vue.js"></script>
<script type="text/javascript" src="/js/element-ui/lib/index.js"></script>
<script type="text/javascript" src="/js/modeljs/device.js"></script>
<script type="text/javascript">

        //当前设备信息
			  //console.log(device);

         var formApp = new Vue({
		         el: '#formApp',
		         data() {
				      return {
				        formData: {
				        	UserName: '',
					        CustomerNumber: '',
					        FirstName: '',
					        LastName: '',
					        Email: '',
					        Password: '',
					        Password2: '',
					        MetricImperial: 'Metric'
				        },
				        rules: {
				        	UserName:[
					      		  { validator: function(rule, value, callback) {
												if(value == ""){
											      return callback(new Error('Please input UserName'));
											  }
												callback();
											  }, 
								        trigger: 'blur' 
								        }
					      		],
				        	CustomerNumber:[
					      		  { validator: function(rule, value, callback) {
												if(value == ""){
											      return callback(new Error('Please input Customer Number'));
											  }
												callback();
											  }, 
								        trigger: 'blur' 
								        }
					      		],
				        	Password:[
					      		  { validator: function(rule, value, callback) {
												if(! /[(\w)|@|#|-|$|%|^|&|+|=|!|?]{8,36}/.test(value)){
										      return callback(new Error('Password must contain special character - @#-_$%^&+=!? and length>=8'));
										    }
												if(! /[_|@|#|-|$|%|^|&|+|=|!|?]+/.test(value)){
										      return callback(new Error('Password must contain special character - @#-_$%^&+=!? and length>=8'));
										    }
												callback();
											  }, 
						              trigger: 'blur' 
						            }
					      		],
					        	Password2:[
					      		   { validator: function(rule, value, callback) {
												if(! /[(\w)|@|#|-|$|%|^|&|+|=|!|?]{8,36}/.test(value)){
										      return callback(new Error('Password must contain special character - @#-_$%^&+=!? and length>=8'));
										    }
												if(! /[_|@|#|-|$|%|^|&|+|=|!|?]+/.test(value)){
										      return callback(new Error('Password must contain special character - @#-_$%^&+=!? and length>=8'));
										    }
												if (value !== formApp.formData.Password) {
										        return callback(new Error('Two different Passwords'));
										    }
												callback();
											  }, 
								          trigger: 'blur' 
								        }
					      		]
				        }
				      };
				    },
				    methods: {
							      submitForm() {
							      var _this = this;
							      this.$refs["formData"].validate (function (valid) {
										if(valid) {
								      //console.log(formApp.formData);
					            var dataJson = {"UserName":formApp.formData.UserName, "CustomerNumber":formApp.formData.CustomerNumber, "FirstName":formApp.formData.FirstName, "LastName":formApp.formData.LastName, "Email":formApp.formData.Email, "Password":formApp.formData.Password, "MetricImperial":formApp.formData.MetricImperial, "roleClass_id":2, "UPasswordChanged":"true"};
                
							        var dataArr=[];
				              dataArr.push(dataJson);
				              var reqData = 'action=insertData&dataArr=' + JSON.stringify(dataArr);
			                $.ajax({
							              url: "/nodejs/userList",
							              type: "POST",
							              dataType:"text",
							              data:reqData,
							              success: function (data2,status,xhr) {
							              	//console.log("ajax Success");
							              	if(data2 == "Success"){
							              	  alert("Success");
							              		window.location.href = "/login.html";
							              	}else{
							              		_this.$message({duration: 1000, message: data2 });
							              	}
							              	
							              },
							              error: function (xhr,status,error) {
							              	console.log("ajax error"); 
							              }
							    	  });
										}else {
											//console.log('error submit');
											return false;
										}
									});
							      },
							      resetForm() {
							        this.$refs["formData"].resetFields();
							      }
							    }
				    
		         
		    });
		    
		    
		    
        
        //top菜单折叠
			  		  $("#topNav > li > a").on("click",function(){
			  		    var _thisLi = $(this).parent("li");
			  		    if(_thisLi.hasClass("actived")){
			  		      _thisLi.removeClass("actived");
			  		      _thisLi.find("dl").slideUp();
			  		    }else{
			  		      _thisLi.addClass("actived").siblings("li").removeClass("actived");
			  		      _thisLi.siblings("li").find("dl").slideUp();
			  		      _thisLi.find("dl").slideDown();
			  		    }
			  		  });
			  		  
			  		  $("#nav-menu-moble").on("click",function () {
				          if($(this).hasClass("nav-close")){
				            $("#topNav").slideDown();$(this).removeClass("nav-close");
				          }else{
				            $("#topNav").slideUp();$(this).addClass("nav-close");
				          }
				      });
				      
				      $(window).on("resize",function(){
					      location.reload();
					  });
        
        
    </script>
  </body>
</html>

