<div class="point">
	<p><img alt="" src="../images/point.png">设备点检 &gt;点检时运行时间</p>
</div>
<!--check--check_time-->


<script  src="../../../js/common/listCtrCom.js"></script>
<script type="text/javascript" src="../../../js/common/objectCtrCom.js" ></script>
<div class="listPage">
	
	<div class="edit"> 

	    <div id="editBox2" class="editBox" ng-show="isAddShow">
       		<form name="form" novalidate>
	       		<h4>上次点检时运行时间：</h4>
	       		<p>
	       			<span>周期：</span>
	       			<select ng-model="period_id_name" ng-change="test_period_id(period_id_name)">
		       			<option value="1日检">日检</option>
		       			<option value="2周检">周检</option>
		       			<option value="3月检">月检</option>
		       			<option value="4季检">季检</option>
		       			<option value="5半年检">半年检</option>
		       			<option value="6年检">年检</option>
		       		</select>
		       		<b ng-show="period_id_show">周期不能重复</b>
	       		</p>
	       		<p>
	       			<label>上次点检时运行时间：</label>
	       			<input type="text" maxlength="9" ng-model="rum_time_check" ng-keyup="rum_time_check_blur()" /><br />
	       			<b ng-show="rum_time_check_show">请填写整数</b>
	       		</p>
	       		
	       		<p  class="isSure"><button ng-disabled="addDisabled" ng-click="addSure()">确认新增</button>&nbsp;<button ng-click="isAddShow=false">取消新增</button></p>
       		</form>
       </div>

       <div id="editBox1" class="editBox" ng-show="isChangeShow">
       		<form name="form" novalidate>
	       		<h4>上次点检时运行时间：</h4>
	       		<p>
	       			<span>周期：</span>
	       			<select disabled="disabled" ng-model="change_period_id_name" ng-change="change_test_period_id(change_period_id_name)">
	       			    <option></option>
		       			<option value="1日检">日检</option>
		       			<option value="2周检">周检</option>
		       			<option value="3月检">月检</option>
		       			<option value="4季检">季检</option>
		       			<option value="5半年检">半年检</option>
		       			<option value="6年检">年检</option>
		       		</select>
		       		<!--<b ng-show="period_id_show">周期不能重复</b>-->
	       		</p>
	       		<p>
	       			<label>上次点检时运行时间：</label>
	       			<input type="text" maxlength="9" ng-model="change_rum_time_check" ng-keyup="change_rum_time_check_blur()" /><br />
	       			<b ng-show="change_rum_time_check_show">请填写整数</b>
	       		</p>
	       		
	       		<p  class="isSure"><button ng-disabled="changeDisabled" ng-click="changeSure()">确认修改</button>&nbsp;<button ng-click="isChangeShow=false">取消修改</button></p>
       		</form>
       </div>
   </div>
    <div class="overbox">
    	<div class="search" style="width:{{tableWidth}};"> 
	        <object></object>  <!--搜索资产设备-->
	        <div class="edit"> 
		   		<p class="editBtn">   
			        <a href="javascript:;" ng-repeat="i in pageBtns" ng-click="btnClick(i)">{{btn_c[$index]}}</a>
		       </p>
		    </div>
	        <div class="sea_div">
            	<label>开始时间：</label><input class="Wdate" type="text" id="create_time_start" ng-model="create_time_start" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
            </div>
            <div class="sea_div">
            	<label>截止时间：</label><input class="Wdate" type="text" id="create_time_end" ng-model="create_time_end" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm'})"> 
            </div>
            <div class="sea_div">
	       		<button ng-click="btn_search()">查询</button>
            </div>
	    </div>
	    <div class="user_title" style="width:{{tableWidth}};">{{subject}}</div>
	    <table id="mainTable" border="0" cellspacing="0" cellpadding="0" width="{{tableWidth}}">
			<thead>
				<tr>
					<td width="33"><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"><label for="flag"></label></td>
					<td ng-repeat="i in fields_c" width="{{trWidthArr[$index]}}">{{i}}<span ng-click="sortFn($index)" ng-class="tdBj"></span></td>
				</tr>
			</thead>
			<tbody>
				
				<tr ng-repeat="i in list">
					<td><input id="{{i['RowNumber']}}" type="checkbox" ng-model="i.checked" ng-change="selectOne()"> <label for="{{i['RowNumber']}}"></label></td>
					<td ng-repeat="k in fields_e" ng-bind-html="i[k] | trustHtml"></td>
				</tr>
				
			</tbody> 
		</table>
		<!-- pagination -->  
	    <div class="pagination" style="width:{{tableWidth}};">
	        <select ng-change="load_pernum(p_pernum)" ng-model="p_pernum" ng-options="x for x in options">
	        </select>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-first" href="javascript:;" ng-click="p_index()"></a>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-pre" href="javascript:;" ng-click="p_pre()"></a>
	        <span>第</span><input  type="text" ng-model="p_current"  ng-change="load_page(p_current)"><span>页 共 {{p_all_page}} 页</span>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-next" href="javascript:;" ng-click="p_next()"></a>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-last" href="javascript:;" ng-click="p_last()"></a>
	        <a class="pagination-search" href="javascript:;" ng-click="load_page(p_current)"></a>
	       <span>共 {{count}} 条记录</span>
	    </div>
    </div>
	<script type=text/javascript>
	    $(function(){
	        //取消冒泡
	        $(".editBox form").on("mousedown",function(e){
	            stopBubble(e)
	        });
	
	        //拖拽
         	var drag1 = new drag("editBox1","window");
         	drag1.dragFn();
         	var drag2 = new drag("editBox2","window");
         	drag2.dragFn();
         	
         	setTimeout(function(){
	            $("table").tableresize();
	        },1000);
	    });
	</script>    

</div>











