<div class="point">
	<p><img alt="" src="../images/point.png">设备点检 &gt;点检任务清单</p>
</div>
<!--check--group--点检任务清单主表-->


<script  src="../js/common/listCtrCom.js"></script>
<div class="listPage">
	
	<div class="edit"> 
   		<p class="editBtn">   
	        <a href="javascript:;" ng-repeat="i in pageBtns" ng-click="btnClick(i)">{{btn_c[$index]}}</a>
        </p>
       <div id="editBox1" class="editBox" ng-show="isAddShow">
       		<form name="form" novalidate>
	       		<h4>新增点检任务清单：</h4>
	       		<p>
	       			<label>点检任务清单名称：</label>
	       			<input type="text" maxlength="100" placeholder="主题" ng-model="sub"  />
	       		</p>
	       		<p>
	       			<span>周期：</span>
	       			<select ng-model="period">
		       			<option value="1日检">日检</option>
		       			<option value="2周检">周检</option>
		       			<option value="3月检">月检</option>
		       			<option value="4季检">季检</option>
		       			<option value="5半年检">半年检</option>
		       			<option value="6年检">年检</option>
		       		</select>
	       		</p>
	       		<p>
	       			<label>备注：</label>
	       			<textarea maxlength="1000" ng-model="description" placeholder="备注"></textarea>
	       		</p>
	       		<p class="isSure"><button ng-disabled="addDisabled" ng-click="addSure()">确认新增</button>&nbsp;<button ng-click="isAddShow=false">取消新增</button></p>
       		</form>
       </div>
       <div id="editBox2" class="editBox" ng-show="isChangeShow">
       		<form name="form" novalidate>
	       		<h4>修改点检任务清单：</h4>
	       		<p>
	       			<label>点检任务清单名称：</label>
	       			<input type="text" maxlength="100" placeholder="主题" ng-model="change_sub"  />
	       		</p>
	       		<p>
	       			<span>周期：</span>
	       			<select ng-model="change_period">
		       			<option value="1日检">日检</option>
		       			<option value="2周检">周检</option>
		       			<option value="3月检">月检</option>
		       			<option value="4季检">季检</option>
		       			<option value="5半年检">半年检</option>
		       			<option value="6年检">年检</option>
		       		</select>
	       		</p>
	       		<p>
	       			<label>备注：</label>
	       			<textarea maxlength="1000" ng-model="change_description" placeholder="备注"></textarea>
	       		</p>
	       		<p  class="isSure"><button ng-disabled="changeDisabled" ng-click="changeSure()">确认修改</button>&nbsp;<button ng-click="isChangeShow=false">取消修改</button></p>
       		</form>
       </div>
   </div>
    <div class="overbox">
    	<div class="search" style="width:{{tableWidth}};"> 
	        <div class="sea_div">
	        	<span>点检任务清单名称：</span>
	        	<input type="search" ng-model="search_sub" />
	        </div>
	        <div class="sea_div">
	        	<span>周期：</span>
		        <select ng-model="search_period_id">
		        	<option value=""></option>
	       			<option value="1">日检</option>
	       			<option value="2">周检</option>
	       			<option value="3">月检</option>
	       			<option value="4">季检</option>
	       			<option value="5">半年检</option>
	       			<option value="6">年检</option>
	       		</select>
	        </div>
	        <div class="sea_div">
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button ng-click="search()">查询</button>
			</div>
	    </div>
	    <div class="user_title" style="width:{{tableWidth}};">{{subject}}</div>
	    <table id="mainTable" border="0" cellspacing="0" cellpadding="0" width="{{tableWidth}}">
			<thead>
				<tr>
					<td width="33"><input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()"><label for="flag"></label></td>
					<td ng-repeat="i in fields_c" width="{{trWidthArr[$index]}}">{{i}}<span ng-click="sortFn($index)" ng-class="tdBj"></span></td>
					<td width="100">清单明细</td>
					<td width="100">关联设备</td>
					
				</tr>
			</thead>
			<tbody>
				
				<tr ng-repeat="i in list">
					<td><input id="{{i['RowNumber']}}" type="checkbox" ng-model="i.checked" ng-change="selectOne()"> <label for="{{i['RowNumber']}}"></label></td>
					<td ng-repeat="k in fields_e" ng-bind-html="i[k] | trustHtml"></td>
					<td><a href="#/page/check/check_group_list/list/{{i.check_group_id}}/{{i.subject}}">清单明细</a></td>
					<td><a href="#/page/check/group_object/list/{{i.check_group_id}}/{{i.subject}}">关联设备</a></td>
				</tr>
				
			</tbody> 
		</table>
		<!-- pagination -->  
	    <div class="pagination" style="width:{{tableWidth}};">
	        <select ng-change="load_pernum(p_pernum)" ng-model="p_pernum" ng-options="x for x in options">
	        </select>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-first" href="javascript:;" ng-click="p_index()"></a>
	        <a ng-class="{true:'disabled'}[p_current==1]" class="pagination-pre" href="javascript:;" ng-click="p_pre()"></a>
	        <span>第</span><input  type="text" ng-model="p_current"  ng-change="load_page(p_current)"><span>页 共 {{p_all_page}} 页</span>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-next" href="javascript:;" ng-click="p_next()"></a>
	        <a ng-class="{true:'disabled'}[p_current==p_all_page]" class="pagination-last" href="javascript:;" ng-click="p_last()"></a>
	        <a class="pagination-search" href="javascript:;" ng-click="load_page(p_current)"></a>
	       <span>共 {{count}} 条记录</span>
	    </div>
    </div>
	<script type=text/javascript>
	    $(function(){
	        //取消冒泡
	        $(".editBox form").on("mousedown",function(e){
	            stopBubble(e)
	        });
	        
	
	        //拖拽
         	var drag1 = new drag("editBox1","window");
         	drag1.dragFn();
	        var drag2 = new drag("editBox2","window");
	        drag2.dragFn();
	        
	        
	        setTimeout(function(){
	            $("table").tableresize();
	        },1000);
	    });
	</script>    

</div>











